@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-item {
  @apply flex rounded-md items-center w-full px-2 py-2 text-sm cursor-pointer;
}

body {
  @apply transition-colors duration-300 ease-in-out;
}

.radar-axis {
  @apply stroke-current text-slate-400 dark:text-slate-600;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.radar-quadrant-border {
  @apply stroke-current text-slate-300 dark:text-slate-700;
  stroke-dasharray: 0;
  stroke-width: 0.5;
  fill: transparent;
}

.radar-axis-label {
  @apply fill-slate-600 dark:fill-slate-400 font-thin;
}

.radar-quadrant-label {
  @apply fill-slate-600 dark:fill-slate-400 font-thin text-[10px];
}

.radar-dots {
  @apply fill-sky-600 dark:fill-cyan-600 dark:opacity-90 stroke-sky-600 dark:stroke-cyan-600;
}

.radar-dot:hover {
  @apply transition-all duration-300 ease-in-out hover:fill-sky-400 dark:fill-cyan-300 cursor-pointer;
  r: 5;
}