@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-item {
  @apply flex rounded-md items-center w-full px-2 py-2 text-sm cursor-pointer;
}

.radar-axis {
  stroke: #cbd5e1;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.radar-quadrant-border {
  stroke: #e2e8f0;
  stroke-dasharray: 0;
  stroke-width: 0.5;
  fill: transparent;
}

.radar-axis-label {
  font: ui-sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  fill: #64748b;
}

.radar-quadrant-label {
  font: ui-sans-serif;
  font-size: 0.45rem;
  font-weight: 200;
  fill: #64748b;
}

.radar-dots {
  fill: #0ea5e9;
}
